<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
        <style>
            .form {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            p {
                color: white;
                width: 80%;
                margin: 50px auto 20px;
            }
        </style>
        <title>Error</title>
    </head>
    <body>
        <div class="title">
            <p>Error</p>
        </div>

        <div class="form">
            <div class="form-header">
                <h1><%= title %></h1>
            </div>

            <div style="text-align: center">
                <p><%= msg %></p>
                <a
                    href="/"
                    class="btn btn-outline-light btn-lg btn-block"
                    style="margin: 30px auto 0; width: 75%"
                >
                    Home
                </a>
            </div>
        </div>
    </body>
</html>
