<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/index.css" />
        <title>Forgot password</title>
    </head>
    <body>
        <div class="title">
            <p>Forgot Password</p>
        </div>

        <% if(failure) { %>
        <div class="alert alert-danger" role="alert"><%= msg %></div>
        <% } %>

        <form action="/forgot" method="POST">
            <div class="form">
                <div class="form-header">
                    <h1>Details</h1>
                </div>
                <div class="form-details">
                    <div class="wrapper">
                        <div class="txtb">
                            <input
                                name="email"
                                type="email"
                                placeholder="Enter email"
                                required
                            />
                        </div>
                        <button
                            type="submit"
                            class="btn btn-outline-light btn-lg btn-block join-btn"
                        >
                            Submit
                        </button>
                    </div>
                </div>
                <p class="bottom-txt">
                    Or
                    <a class="bottom-href" href="/login">Login</a>
                </p>
            </div>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>
