<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/rooms.css" />
        <title>Room List</title>
    </head>
    <body>
        <div class="title">
            <p>Room List</p>
        </div>

        <% if(failure) { %>
        <div class="alert alert-danger" role="alert"><%= msg %></div>
        <% } %>

        <div class="room-list">
            <% rooms.forEach(room => { %>
            <div class="card">
                <div class="front">
                    <div class="front-content middle">
                        <h3><%= room.name %></h3>
                    </div>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <p>
                            Created by <br />
                            <%= room.creator %>
                        </p>
                        <a
                            href="./rooms/<%= room.name %>"
                            class="btn btn-outline-light join-btn"
                        >
                            Join
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>

            <div class="card">
                <div class="front">
                    <div class="front-content middle">
                        <h3>
                            + <br />
                            New room
                        </h3>
                    </div>
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <form action="/rooms" method="POST">
                            <div class="txtb">
                                <input
                                    name="roomName"
                                    type="text"
                                    placeholder="Room name"
                                    autocomplete="off"
                                    required
                                />
                            </div>
                            <button class="btn btn-outline-light join-btn">
                                Create
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="logout">
                <form action="/logout" method="POST" class="middle">
                    <button type="submit" class="btn btn-light btn-lg">
                        Logout
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
