@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../background.jpg");
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

ul {
    list-style: none;
    padding-bottom: 10px;
    word-wrap: break-word;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

.send-btn {
    padding: 5px 15px;
    font-size: 17px;
    margin-left: 5px;
}

#msg {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding-left: 10px;
    color: #e6e9ff;
}

#msg:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.chat-room,
.chat-users {
    border: 3px solid gray;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.chat-users {
    margin-top: 30px;
}

#room-name {
    word-wrap: break-word;
}

.message-btn {
    text-align: left;
}

.chat-container {
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.chat-header {
    /* background: black; */
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    color: #fff;
    padding: 20px 20px 40px;
    overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #e6e9ff;
}

.chat-messages .message .meta span {
    color: #777;
}

.chat-messages .message .meta .name {
    font-size: 15px;
    font-weight: bold;
    color: #7386ff;
}

.message {
    border-radius: 15px;
}

.date {
    width: 14%;
    margin: auto;
    position: relative;
    height: 2rem;
    border-radius: 40px;
}

.date > .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.8rem;
}

.not-bot {
    width: 35%;
}

.sender {
    margin-left: auto;
}

.delete-btn,
.delete-btn-file {
    float: right;
}

.text {
    word-wrap: break-word;
}

.chat-form-container {
    padding: 50px 30px 20px;
    position: fixed;
    width: 100%;
    bottom: 1px;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type="text"] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

.file-upload > input {
    display: none;
}

.file-upload > label > img {
    border-radius: 10px;
    margin-left: 6px;
}

.file-upload > label > img:hover {
    cursor: pointer;
}

.file-div {
    width: 45%;
}

.message img {
    max-width: 450px;
    max-height: 300px;
}

.message img:hover {
    cursor: pointer;
}
